@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Figtree:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500&display=swap');

/* IMPORTANT */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
    color: #4d4d4d;
    font-family: 'Figtree', sans-serif;
	background: rgb(175,189,255);
	background: -moz-linear-gradient(317deg, #afbdff 0%, rgba(255,167,185,1) 100%);
	background: -webkit-linear-gradient(317deg, rgba(175,189,255,1) 0%, rgba(255,167,185,1) 100%);
	background: linear-gradient(317deg, rgba(175,189,255,1) 0%, rgba(255,167,185,1) 100%);
	height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* HEADER */
a:visited, a:active, a:link {
	color: #4d4d4d;
}
li {
    list-style: none;
	font-weight: bold;
}
header {
    background-color: #ffffffb5;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid #c4c4c4;
}
.nav-bar {
	max-height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
}
.logo {
	width: 40px;
	margin-right: 10px;
}
.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.logo-space {
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-title {
	font-size: 3rem;
	text-decoration: none;
    font-family: 'Dongle', sans-serif;
	font-weight: 700;
	color: #4d4d4d;
}
.nav-link {
	transition: 0.5s ease;
	text-decoration: none;
	height: 100px;
	color: #4d4d4d;
}
.nl-pink:hover {
	color: #ffa7b9;
}
.nl-blue:hover {
	color: #afbdff;
}

/* MAIN  */
main {
	width: 70%;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 60px;
}
.page-heading {
	text-align: center;
	font-size: 2.5rem;
}
.tagline {
	text-align: center;
	font-size: 1.5rem;
	margin-top: 17px;
}
.italic-colour {
	font-style: italic;
	font-weight: bold;
	color: #b2ff9d;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 25px;
	margin-top: 70px;
}
.card {
	background-color: #ffffffb5;
    border: 1px solid #c4c4c4;
	border-radius: 8px;
	text-align: center;
	padding: 25px;
	transition: 400ms ease;
}
.card > span > a {
	text-decoration: none;
}

.card:hover {
	box-shadow: 5px 5px #b2ff9d;
}
.card-title {
	margin-top: 10px;
}
.card-text {
	min-height: 70px;
	margin-top: 10px;
}
.card > span {
	font-size: 1.7em;
	border-radius: 50%;
	padding: 5px;
}
.card > span > a {
	padding: 0 20px;
	font-weight: bold;
}
.card > span > a:hover {
	color: #ff78c9;
}

/* FOOTER SECTION */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 100%;
	margin: 0;
	background-color: #ffffff7d;
    border: 1px solid #c4c4c4;
}
footer > p > a {
	transition: 300ms;
}
footer > p > a:hover {
	color: rgb(255, 156, 239);
}

/* >> RESPONSIVENESS << */
@media (max-width: 1170px) {
	.container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 723px) {
	.container {
		grid-template-columns: 1fr;
	}
}
